<a href="https://colab.research.google.com/github/Medhanshug99/Python-Class-sem3/blob/main/Pythonclass_Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Declaration of variable

In [ ]:
a = 10
print("The value of a is",a)
print(f"The value of a is {a}")

The value of a is 10
The value of a is 10

1 Multiple assignment in a variable

In [ ]:
a,b = 10,20
print(a,b)

10 20

2 Multiple assignment with same value

In [ ]:
a = b = c = 100
print(a,b,c)

100 100 100

3 Rules for naming variables
 1. Variable names can only contain letters,digit and underscore
 2. A variable name cannot start with a digit
 3. Varaible names are case sensitive(Ex : myVar and myvar are different)
 4. avoid using python keywords such as if ,else ,for , class
 5.

In [ ]:
a = 10
class_io = 10
user_name="medhansh"
_name="Error"
print(a,user_name,_name,class_io)

10 medhansh Error 10

Typecasting of variables

1. Hulk strength level is recorded as a string output 1000 . convert it into an integer and increase it by 200

In [ ]:
hulk_score ="1000"
hulk_ScoreNew = int(hulk_score)+200
print(hulk_ScoreNew)

1200

2. Thor's hammer mass is 5000(int) , but you need to calculate the gravitational force , which requires it as a float

In [ ]:
thor_hammer = 5000
g = 9.8
thor_force = float(thor_hammer*g)
print(thor_force)

49000.0

3. Loki gets input in seconds (as string ):"3600". convert it into an integer and then to hours. Show the final result as float

In [ ]:
t="3600"
t_int=int(t)
t_hours=float(t_int/3600)
print(t_hours)

1.0

4. Ironman recorded 7 hits out of 10 shots(both integers). Convert them into float and calculate the accuracy percentage

In [ ]:
h=7
s=10
h_f=float(h)
s_f=float(s)
accuracy_=(h_f/s_f)*100
print(accuracy_)

70.0

String Datatype

1. Array of bytes representing unicode characters
2. No seperate character data type ; a character is a string of length one
3. String can be created using ' '," ", or "" ""
4. Acces individual character using indexing , starting at 0
5. Strings are immutable
6. str ( )

In [ ]:
s1 = "This is a string"
print(s1)
s2 = "This " + "is " + "also " +"a " + "string"
print(s2)
print(len(s1))
print(len(s2))

This is a string
This is also a string
16
21

In [ ]:
s3 = "This is a string \
written along multiple lines"
print(s3)

This is a string written along multiple lines

In [ ]:
#multiply string with an integer to get multiple lines
Iron_man = "SMASH IT!\n"
print(Iron_man*5)

SMASH IT!
SMASH IT!
SMASH IT!
SMASH IT!
SMASH IT!

In [ ]:
Iron_man_2 = "Hello world # This is not a comment"
Iron_man_2

'Hello world # This is not a comment'

In [ ]:
Avenger = "IRONMAN"
length_=len(Avenger)
#length_
first_ch=Avenger[0] # both are same -->first_ch=Avenger[-0]
print(f"The first character is :{first_ch} ")

The first character is :I

In [ ]:
# negative indexing
last_ch=Avenger[-1]
print(last_ch)

N

In [ ]:
# Slicing
slicing = Avenger[1:5]
slicing_1 = Avenger[:6]
print(slicing)
print(slicing_1)

RONM
IRONMA

In [ ]:
slicing_2 = Avenger[1:]
slicing_3 = Avenger[1:4:2]
print(slicing_2)
print(slicing_3)

RONMAN
RN

In [ ]:
#IRONMAN
slicing_4 = Avenger[::]
print(slicing_4)

RONMAN

In [ ]:
Avenger[0]="B"
print(Avenger)
# Because Strings are immutable

TypeError: 'str' object does not support item assignment

In [ ]:
for i in range(len(Avenger)) :
  print(i, Avenger[i])

0 I
1 R
2 O
3 N
4 M
5 A
6 N

In [ ]:
n = len(Avenger)
for i in range(n):
  print((n-1)-i,Avenger[(n-1)-i])

6 N
5 A
4 M
3 N
2 O
1 R
0 I

Q1. Palindrome or not

In [ ]:
#RACECAR
name = input()
n=len(name)
if name==name[::-1]:
    print(f"{name} is a palindrome ")
else :
    print(f"{name} is not a palindrome")

racecar
racecar is a palindrome

**ASCII VALUES**
A - 65 , Z - 90
a - 97 , z - 122
35 - # ,

1. In early 1960s a standard was published called American standard code for information interchange (ASCII) . It specify the mappping if binary value of characters , it uses 7-bit to represent the character (0-127) range a(97)  to z(122), A(65) to Z (90)

2. The ASCII character sets is limited in that it cannot handle characters from other language , Therefore unicode standard are proposed . Python3 uses unicode by default(UTF-8) . It defines more than one lakh character . The prefix used to print the character in u example given below

In [ ]:
a = "\u03C0"
print(a)

π


1. \a  alert, beep sound(only on supported terminals) (7)
2. \b backspace (8)
3. \t  horizontal tab (9)
4. \n newline (10)
5. \v vertical tab (11)
6. \f new page (12)
7. \r carriage return (13)          
8. \0 null or string terminator  (0)

In [ ]:
print("Iron man \nCaptain America")
print("Hulk \t Black Widow")
print("Hank\'s Mission")
print("D:\\Downloads")

Iron man
Captain America
Hulk 	 Black Widow
Hank's Mission
D:\Downloads

In [ ]:
print("Wandaa\b")
print("Bruce\a")#only on supported terminals
print("Nightt\f")

Wandaa
Bruce
Nightt

In [ ]:
x="tOny StArK"
y="StEvE RogerS"
print(x.lower())
print(y.upper())
print(x.capitalize())
print(y.title())

tony stark
STEVE ROGERS
Tony stark
Steve Rogers

**Application**
1. .lower(),.upper() is used to lower or capitalize the characters in a given string. These methods can be used for normalization to ensure the consistent case for embedding in NLP

1. Strip method --> Removing characters
   It is designed to remoc=ve leading and trailing whitespaces characters or specific character from the string . It does not remove the spaces which occur in the middle of the string.
   The alternative method to remove the middle whitespace is .replace("The value to be replaced","value you want to replace with")
2. Replace -- 2 arguments

In [ ]:
X = "&BRUCE BANNER"
print(X.strip("&"))
print(X.replace(" ",""))

BRUCE BANNER
&BRUCEBANNER

**Applications **
1. Cleaning the data
2. Replace the null calue with any character
3. Correcting the text

Split and Join

In [ ]:
s = "this movie is amazing . I like this movie"
p = s.split()
print(" ".join(p))

this movie is amazing . I like this movie

**Application**
1. split/join is used for tokenization
2. The method involves splitting the string into a list of word as a spaces as a delimeter. This delimeter automatically handles multiple spaces between words
3. Join method join back the word together without any spaces

In [ ]:
txt="This is a python python class"
print(txt.find("python",9,25))
print(txt.count("python"))
print(txt.index("python"))
print(txt.startswith("This"))
print(txt.startswith("is",4,12))
print(txt.endswith("class"))
print(txt.endswith(("class","python")))

10
2
10
True
False
True
True

In [ ]:
x="\u00B1" #\u is for unicode --> used for special chars...
print(x)
print(x.isdigit())

±
False

In [ ]:
Avenger = "Ironman, Thor, Black Panther"
print("Thor" in Avenger)
print("Loki" not in Avenger)
if "Thor" in Avenger:
  print("Thor is here")

True
True
Thor is here

Q. Loki tried to trick Avengers , Check if Loki is in it . If yes , enemy detected! Otherwise All clear.

In [ ]:
Avengers = "Ironman, Captain America, Thor, Black Panther, Dr.Strange, Vision, Hulk, "
if "Loki" in Avengers:
  print("Enemy detected!")
else:
  print("All Clear")

All Clear

Q. We define theusage of capitals in a word to be right, then one of the following cases holds
1. Case 1 : All letters in this word are capitals (eg: INDIA)
2. Case 2 : All letters in this word are small (eg:leetcode)
3. Case 3 : First letter is capital (eg : Python)

Given a string word, return true if the usage of capitals in it is right

In [ ]:
word = str(input())
if word.isupper() :
  print("All are upper case letters")
elif word.islower():
  print("All are lower case letters")
elif word[0].isupper():
   print("The word is correct i.e; First letter is capital")
else:
  print(false)

ASdf
The word is correct i.e; First letter is capital

In [ ]:
word=["how","are","you"]
# print(word.strip(""))

for i in word:
  print(i.strip(" "))

how
are
you

Boolean variables

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
print(10>9 and 10>8)
print(10>9 or 10<8)
# print(10>9 not 10>8) "not isn't a binary operator"
print(bool([ ])) # empty --> false
print(bool(" ")) # non-empty --> true

True
True
False
True

all() and any () methods
1. all() --
2. any() --

In [ ]:
marks=[45,70,85]
print(all(m>=40 for m in marks))
print(any(m>=90 for m in marks))

True
False

In [ ]:
a,b = True , False
print(a^b)
print(a^a)

True
False

Q. Swapping using XOR(Logical operator)

Applications of XOR :
1. Used to Toggle(ing)
2. To check divisibility by multiple numbers

In [ ]:
a , b = 10 , 20
#a,b = b,a
print(f"before swapping : {a}, {b}")
a=a^b
b=a^b
a=a^b
print(f"after swapping : {a}, {b}")

before swapping : 10, 20
after swapping : 20, 10

In [ ]:
print(10>9>8)
print(10<9>8)

True
False

Q.

In [ ]:
n=21
print((n%3==0)^(n%7==0))

False

1. 'is' checks the identity whereas '==' check the equality of values (content)
2. both a and b are list with same element with 1,2. So python prints true
3. When you write a=[1,2] and b=[1,2], python creates two different list object in memory, Therefore output is false
4. **Important note** : If you use small integers ans strings, sometimes a is b can be true because of *python interning* (optimization for performance)
5. In case of list , dictionary , sets - Python always creates a new object unless you explicitly assign

In [ ]:
a = [1,2]
b = [1,2]
print(a==b)
print(a is b)
a = 100
b = 100
print (a is b)
s1="hello"
s2="hello"
print(s1 is s2)

True
False
True
True

1. Q. How can all() and any() make code shorter compared to multiple if code
2. Q. Write 5 boolean condition using all() or any() from college life

**Operators**

In [ ]:
a=-10
b=2
print(a+b, a-b , a*b , a/b , a//b, a**b , a %b )

-8 -12 -20 -5.0 -5 100 0

**NOTE** :  Float division round down , not towards zero, python always follows mathematical floor division, not truncation(in c or c++ the output truncates towards zero)

**Assignment operators**

+= , -= , *= , /= , //= , %= , ** , &= , |= , ^= , >>=(division) , <<=(multiply)

Used for
1. Code optimization
2. In place updation
3. Effecient

In [ ]:
a = 10
b = 3
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a//=b
print(a)
a%=b
print(a)
a**b
print(a)
# Reset a to an integer before bitwise operations
a = 10
b = 3
a&=b
print(a)
a|=b
print(a)
a^=b
print(a)
a>>=b
print(a)
a<<=b
print(a)

13
10
30
10.0
3.0
0.0
0.0
2
3
0
0
0

In [ ]:
x = 5
x *= 2 + 3
x
# assignment operator has lowest precedence
# so we first calculate arithmetic (2 + 3) and then multiply with 5

25

**Comparison operators**

In [ ]:

print(10 == 10.0)
print("10" == 10.0) # no comparision with strings
print(3<4<5)

True
False
True
True
True

In [ ]:
print(True == 1)
print(False == 0)
print(True + True)

True
True
2

**NOTE :**
1.  python emphasize chain comparision
2. booleans are subclass of integer

**Logical Operators**

In [ ]:
print(True and False)
print(True or False)
# print(True not False)
print(0 and 5)
print(0 or 5)
print([] and "hi")#[] is falsy
print([] or "hi")

False
True
0
5
[]
hi

**NOTE : **
1. (A and B) will not evaluate B until A is True, This is called short-circuiting

**Identity Operators**

#

In [ ]:
#1. is , isnot --> check object identity not value

In [ ]:
a=[1,2,3]
b=[1,2,3]
print(a==b)
print(a is b)

True
False

In [ ]:
x = 256
y=256
print(x is y)
x = 257
y=256
print(x is y)
x= 257
y=257
print(x is y)

True
False
False

**NOTE : **
1. In python 5 to 256 has same memory allocation, after that range it assigns different address

**Membership operators**

in , not in

In [ ]:
print("nana" in "banana")

True

**Bitwise operators**


*  ^ , ~ , << , >>

In [ ]:
print(5&3)
print(5|3)
print(5^3)
print(~5)
print(5<<1)
print(5>>1)

1
7
6
-6
10
2

In [ ]:
lst = [2,7,11,15]
tgt = 9
for i in lst:
  if tgt-i in lst:
    print(i, tgt-i)

2 7
7 2