<a href="https://colab.research.google.com/github/Medhanshug99/Python-Class-sem3/blob/main/Pythonclass_Sem3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Declaration of variable

In [ ]:
a = 10
print("The value of a is",a)
print(f"The value of a is {a}")

The value of a is 10
The value of a is 10

1 Multiple assignment in a variable

In [ ]:
a,b = 10,20
print(a,b)

10 20

2 Multiple assignment with same value

In [ ]:
a = b = c = 100
print(a,b,c)

100 100 100

3 Rules for naming variables
 1. Variable names can only contain letters,digit and underscore
 2. A variable name cannot start with a digit
 3. Varaible names are case sensitive(Ex : myVar and myvar are different)
 4. avoid using python keywords such as if ,else ,for , class
 5.

In [ ]:
a = 10
class_io = 10
user_name="medhansh"
_name="Error"
print(a,user_name,_name,class_io)

10 medhansh Error 10

Typecasting of variables

1. Hulk strength level is recorded as a string output 1000 . convert it into an integer and increase it by 200

In [ ]:
hulk_score ="1000"
hulk_ScoreNew = int(hulk_score)+200
print(hulk_ScoreNew)

1200

2. Thor's hammer mass is 5000(int) , but you need to calculate the gravitational force , which requires it as a float

In [ ]:
thor_hammer = 5000
g = 9.8
thor_force = float(thor_hammer*g)
print(thor_force)

49000.0

3. Loki gets input in seconds (as string ):"3600". convert it into an integer and then to hours. Show the final result as float

In [ ]:
t="3600"
t_int=int(t)
t_hours=float(t_int//3600)
print(t_hours)

1.0

4. Ironman recorded 7 hits out of 10 shots(both integers). Convert them into float and calculate the accuracy percentage

In [ ]:
h=7
s=10
h_f=float(h)
s_f=float(s)
accuracy_=(h_f/s_f)*100
print(accuracy_)

70.0

String Datatype

1. Array of bytes representing unicode characters
2. No seperate character data type ; a character is a string of length one
3. String can be created using ' '," ", or "" ""
4. Acces individual character using indexing , starting at 0
5. Strings are immutable
6. str ( )

In [ ]:
s1 = "This is a string"
print(s1)
s2 = "This " + "is " + "also " +"a " + "string"
print(s2)
print(len(s1))
print(len(s2))

This is a string
This is also a string
16
21

In [ ]:
s3 = "This is a string \
written along multiple lines"
print(s3)

This is a string written along multiple lines

In [ ]:
#multiply string with an integer to get multiple lines
Iron_man = "SMASH IT!\n"
print(Iron_man*5)

SMASH IT!
SMASH IT!
SMASH IT!
SMASH IT!
SMASH IT!

In [ ]:
Iron_man_2 = "Hello world # This is not a comment"
Iron_man_2

'Hello world # This is not a comment'

In [ ]:
Avenger = "IRONMAN"
length_=len(Avenger)
#length_
first_ch=Avenger[0] # both are same -->first_ch=Avenger[-0]
print(f"The first character is :{first_ch} ")

The first character is :I

In [ ]:
# negative indexing
last_ch=Avenger[-1]
print(last_ch)

N

In [ ]:
# Slicing
slicing = Avenger[1:5]
slicing_1 = Avenger[:6]
print(slicing)
print(slicing_1)

RONM
IRONMA

In [ ]:
slicing_2 = Avenger[1:]
slicing_3 = Avenger[1:4:2]
print(slicing_2)
print(slicing_3)

RONMAN
RN

In [ ]:
#IRONMAN
slicing_4 = Avenger[::]
print(slicing_4)

IRONMAN

In [ ]:
Avenger[0]="B"
print(Avenger)
# Because Strings are immutable

TypeError: 'str' object does not support item assignment

In [ ]:
for i in range(len(Avenger)) :
  print(i, Avenger[i])

0 I
1 R
2 O
3 N
4 M
5 A
6 N

In [ ]:
n = len(Avenger)
for i in range(n):
  print((n-1)-i,Avenger[(n-1)-i])

6 N
5 A
4 M
3 N
2 O
1 R
0 I

Q1. Palindrome or not

In [ ]:
#RACECAR
name = input()
n=len(name)
if name==name[::-1]:
    print(f"{name} is a palindrome ")
else :
    print(f"{name} is not a palindrome")

Tomatot
Tomatot is not a palindrome

**ASCII VALUES**
A - 65 , Z - 90
a - 97 , z - 122
35 - # ,

1. In early 1960s a standard was published called American standard code for information interchange (ASCII) . It specify the mappping if binary value of characters , it uses 7-bit to represent the character (0-127) range a(97)  to z(122), A(65) to Z (90)

2. The ASCII character sets is limited in that it cannot handle characters from other language , Therefore unicode standard are proposed . Python3 uses unicode by default(UTF-8) . It defines more than one lakh character . The prefix used to print the character in u example given below

In [ ]:
a = "\u03C0"
print(a)

π


1. \a  alert, beep sound(only on supported terminals) (7)
2. \b backspace (8)
3. \t  horizontal tab (9)
4. \n newline (10)
5. \v vertical tab (11)
6. \f new page (12)
7. \r carriage return (13)          
8. \0 null or string terminator  (0)

In [ ]:
print("Iron man \nCaptain America")
print("Hulk \t Black Widow")
print("Hank\'s Mission")
print("D:\\Downloads")

Iron man
Captain America
Hulk 	 Black Widow
Hank's Mission
D:\Downloads

In [ ]:
print("Wandaa\b")
print("Bruce\a")#only on supported terminals
print("Nightt\f")

Wandaa
Bruce
Nightt

In [ ]:
x="tOny StArK"
y="StEvE rogerS"
print(x.lower())
print(y.upper())
print(x.capitalize())
print(y.title())#.title() capitalizes every word in the string

tony stark
STEVE ROGERS
Tony stark
Steve Rogers

**Application**
1. .lower(),.upper() is used to lower or capitalize the characters in a given string. These methods can be used for normalization to ensure the consistent case for embedding in NLP

1. Strip method --> Removing characters
   It is designed to remove leading and trailing whitespaces characters or specific character from the string . It does not remove the spaces which occur in the middle of the string.
   The alternative method to remove the middle whitespace is .replace("The value to be replaced","value you want to replace with")
2. Replace -- 2 arguments

In [ ]:
X = "&BRUCE BANNER "
print(X.strip("&"))
print(X.replace(" ",""))

BRUCE BANNER
&BRUCEBANNER

**Applications **
1. Cleaning the data
2. Replace the null value with any character
3. Correcting the text

Split and Join

In [ ]:
s = "this movie is amazing . I like this movie"
p = s.split()
print(p)
print(" ".join(p))

['this', 'movie', 'is', 'amazing', '.', 'I', 'like', 'this', 'movie']
this movie is amazing . I like this movie

**Application**
1. split/join is used for tokenization
2. The method involves splitting the string into a list of word as a spaces as a delimeter. This delimeter automatically handles multiple spaces between words
3. Join method join back the word together without any spaces

In [ ]:
txt="This is a python python class"
print(txt.find("python",9,25))
print(txt.count("python"))
print(txt.index("python"))
print(txt.startswith("This"))
print(txt.startswith("is",4,12))
print(txt.endswith("class"))
print(txt.endswith(("class","python")))

10
2
10
True
False
True
True

In [ ]:
x="\u00B1" #\u is for unicode --> used for special chars...
print(x)
print(x.isdigit())

±
False

In [ ]:
Avenger = "Ironman, Thor, Black Panther"
print("Thor" in Avenger)
print("Loki" not in Avenger)
if "Thor" in Avenger:
  print("Thor is here")

True
True
Thor is here

Q. Loki tried to trick Avengers , Check if Loki is in it . If yes , enemy detected! Otherwise All clear.

In [ ]:
Avengers = "Ironman, Captain America, Thor, Black Panther, Dr.Strange, Vision, Hulk, "
if "Loki" in Avengers:
  print("Enemy detected!")
else:
  print("All Clear")

All Clear

Q. We define theusage of capitals in a word to be right, then one of the following cases holds
1. Case 1 : All letters in this word are capitals (eg: INDIA)
2. Case 2 : All letters in this word are small (eg:leetcode)
3. Case 3 : First letter is capital (eg : Python)

Given a string word, return true if the usage of capitals in it is right

In [ ]:
word = str(input())
if word.isupper() :
  print("All are upper case letters")
elif word.islower():
  print("All are lower case letters")
elif word[0].isupper():
   print("The usage of capitals is correct i.e; First letter is capital")
else:
  print(False)

You are
The usage of capitals is correct i.e; First letter is capital

In [ ]:
word=["how","are","you"]
# print(word.strip(""))

for i in word:
  print(i.strip(" "))

how
are
you

Boolean variables

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
print(10>9 and 10>8)
print(10>9 or 10<8)
# print(10>9 not 10>8) "not isn't a binary operator"
print(bool([ ])) # empty list--> false
print(bool(" ")) # non-empty string --> true

True
True
False
True

all() and any () methods
1. all() --
2. any() --

In [ ]:
marks=[45,70,85]
print(all(m>=40 for m in marks))
print(any(m>=90 for m in marks))

True
False

In [ ]:
a,b = True , False
print(a^b)
print(a^a)

True
False

Q. Swapping using XOR(Logical operator)

Applications of XOR :
1. Used to Toggle(ing)
2. To check divisibility by multiple numbers

In [ ]:
a , b = 10 , 20
#a,b = b,a
print(f"before swapping : {a}, {b}")
a=a^b
b=a^b
a=a^b
print(f"after swapping : {a}, {b}")

before swapping : 10, 20
after swapping : 20, 10

In [ ]:
print(10>9>8)
print(10<9>8)

True
False

Q.

In [ ]:
n=21
print((n%3==0)^(n%7==0))

False

1. 'is' checks the identity whereas '==' check the equality of values (content)
2. both a and b are list with same element with 1,2. So python prints true
3. When you write a=[1,2] and b=[1,2], python creates two different list object in memory, Therefore output is false
4. **Important note** : If you use small integers ans strings, sometimes a is b can be true because of *python interning* (optimization for performance)
5. In case of list , dictionary , sets - Python always creates a new object unless you explicitly assign

In [ ]:
a = [1,2]
b = [1,2]
print(a==b)
print(a is b)
a = 100
b = 100
print (a is b)
s1="hello"
s2="hello"
print(s1 is s2)

True
False
True
True

1. Q. How can all() and any() make code shorter compared to multiple if code
2. Q. Write 5 boolean condition using all() or any() from college life

**Operators**

In [ ]:
a=-13
b=2
print(a+b, a-b , a*b , a/b , a//b, a**b , a %b )

-11 -15 -26 -6.5 -7 169 1

**NOTE** :  Float division round down , not towards zero, python always follows mathematical floor division, not truncation(in c or c++ the output truncates towards zero)

**Assignment operators**

+= , -= , *= , /= , //= , %= , ** , &= , |= , ^= , >>=(division) , <<=(multiply)

Used for
1. Code optimization
2. In place updation
3. Effecient

In [ ]:
a = 10
b = 3
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a//=b
print(a)
a%=b
print(a)
a**=b
print(a)
# Reset a to an integer before bitwise operations
print("New")
a = 10
b = 3
a&=b
print(a)
a|=b
print(a)
a^=b
print(a)
a>>=b
print(a)
a<<=b
print(a)

13
10
30
10.0
3.0
0.0
0.0
New
2
3
0
0
0

In [ ]:
x = 5
x *= 2 + 3
x
# assignment operator has lowest precedence
# so we first calculate arithmetic (2 + 3) and then multiply with 5

25

**Comparison operators**

In [ ]:

print(10 == 10.0)
print("10" == 10.0) # no comparision with strings
print(3<4<5)

True
False
True
True
True

In [ ]:
print(True == 1)
print(False == 0)
print(True + True)

True
True
2

**NOTE :**
1.  python emphasize chain comparision
2. booleans are subclass of integer

**Logical Operators**

In [ ]:
print(True and False)
print(True or False)
# print(True not False)
print(0 and 5)
print(0 or 5)
print([] and "hi")#[] is falsy
print([] or "hi")

False
True
0
5
[]
hi

**NOTE :**
1. (A and B) will not evaluate B until A is True, This is called short-circuiting

**Identity Operators**

#

In [ ]:
#1. is , isnot --> check object identity not value

In [ ]:
a=[1,2,3]
b=[1,2,3]
print(a==b)
print(a is b)

True
False

In [ ]:
x = 256
y=256
print(x is y)
x = 257
y=256
print(x is y)
x= 257
y=257
print(x is y)

True
False
False

**NOTE : **
1. In python 5 to 256 has same memory allocation, after that range it assigns different address

**Membership operators**

in , not in

In [ ]:
print("nana" in "banana")

True

**Bitwise operators**


*  ^ , ~ , << , >>

In [ ]:
print(5&3)
print(5|3)
print(5^3)
print(~5)
print(5<<1)
print(5>>1)

1
7
6
-6
10
2

In [ ]:
lst = [2,7,11,15]
tgt = 9
for i in lst:
  if tgt-i in lst:
    print(i, tgt-i)

2 7
7 2

**LIST Datatype**
1. Mutable

In [ ]:
infinity_stones = ["time", "space", "soul", "mind", "reality", "power"]
print(infinity_stones[0])
print(infinity_stones.index("soul"))
inf_stones=infinity_stones.copy()
print(inf_stones)
infinity_stones[0]="ironman"
print(infinity_stones)

time
2
['time', 'space', 'soul', 'mind', 'reality', 'power']
['ironman', 'space', 'soul', 'mind', 'reality', 'power']

In [ ]:
loki = ["loki odinson", "42", True]
print(type(loki[2]))
print(len(loki))

<class 'bool'>
3

In [ ]:
abq = ["jesse", "Hank", "Skyler", "Walt Jr."]
print(abq)

['jesse', 'Hank', 'Skyler', 'Walt Jr.']

In [ ]:
abq = ["jesse", "Hank", "Skyler", "Walt Jr."]
abq.append("Walter")
abq.insert(0,"Mike")
# abq.extend("g")
print(abq)

['Mike', 'jesse', 'Hank', 'Skyler', 'Walt Jr.', 'Walter']

**NOTE** : Tuple is immutable

In [ ]:
tup=("Gus","Asac")
abq.extend(tup)
print(abq)

['jesse', 'Hank', 'Skyler', 'Walt Jr.', 'Gus', 'Asac']

In [ ]:
fruits = ["apple", "guava", "banana", "orange", "kiwi"]
fruits.insert(0,"cherry")
# print(fruits)
# print(fruits.pop(2))
# print(fruits)
del fruits[2]
print(fruits)

['cherry', 'apple', 'banana', 'orange', 'kiwi']

**NOTE:**
1. del is faster than remove()
2. del is used when index is known , else .remove() is used
3. del is used to delete multiple items from the datatype

In [ ]:
fruits1 = ["apple", "guava", "banana", "orange", "kiwi"]
del fruits1[1:3]
# print(fruits1)

fruits1.clear()
print(fruits1)

[]

**.clear()**
1. deletes the data but not the memory allocated
2.

In [ ]:
lst1 = ['a','v','c','gh','fr']
for letter in lst1:
  print(f"{letter} ")

a
v
c
gh
fr

**Loop through Index number**

In [ ]:
for x in range(len(lst1)):
  print(lst1[x])

a
v
c
gh
fr

In [ ]:
lst1 = ['a','v','c','gh','fr']
i = 0
while i < len(lst1):
  print(lst1)
  i=i+1

['a', 'v', 'c', 'gh', 'fr']
['a', 'v', 'c', 'gh', 'fr']
['a', 'v', 'c', 'gh', 'fr']
['a', 'v', 'c', 'gh', 'fr']
['a', 'v', 'c', 'gh', 'fr']

In [ ]:
[print(x) for x in lst1]

a
v
c
gh
fr

[None, None, None, None, None]

**List Loop**

In [ ]:
hero = ['steve rogers', 'mitchell starc', 'robb stark', 'gamora']
for i in hero:
  print(i)

steve rogers
mitchell starc
robb stark
gamora

In [ ]:
for name in range(len(hero)):
  print(name, hero[name])

0 steve rogers
1 mitchell starc
2 robb stark
3 gamora

In [ ]:
i = 0
while i < len(hero):
  print(hero[i])
  i+=1

steve rogers
mitchell starc
robb stark
gamora

**List Comprehension**

In [ ]:
#List comprehension

[print(i) for i in hero]

steve rogers
mitchell starc
robb stark
gamora

[None, None, None, None]

In [ ]:
#Q. filter out the name of the avenger that contain america substring

# [name for name in hero if "america" in hero]
[name for name in hero if "america" in name.lower()]

[]

In [ ]:
#Q. replace gamora with calm guy

# ["calm guy" if name =="gamora" else name for name in hero]
new_hero=[x if x!='gamora' else 'calm guy' for x in hero]
print(new_hero)

['steve rogers', 'mitchell starc', 'robb stark', 'calm guy']

In [ ]:
#Q. Make the characters in the list to uppercase

[name.upper() for name in hero]

['STEVE ROGERS', 'MITCHELL STARC', 'ROBB STARK', 'GAMORA']

In [ ]:
new__hero = [x for x in range (len(hero))]
print(new__hero)

[0, 1, 2, 3]

In [ ]:
#Q. Create a list that only contain prime numbers

def isprime(num_):
    if num_ <= 1:
        return False
    # Check for divisibility from 2 up to the integer part of the square root
    i = 2
    while i * i <= num_:
        if num_ % i == 0:
            return False
        i += 1
    return True

print([num for num in range (2,100) if isprime(num)],end = " ")

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
#Q. Create a list that contain all binary numbers like 2^0,2^1,2^2
[2**i for i in range(11)]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

**Sorting algorithms**

1. Efficient searching

In [ ]:
lst_7 = ['a','C','I','x']
lst_7.sort(key=str.lower)
print(lst_7)

['a', 'C', 'I', 'x']

In [ ]:
lst_45 = (input("Enter three numbers : "))
# lst_45.split()
print(lst_45)
print(type(lst_45))

Enter three numbers : 7 8 9
7 8 9
<class 'str'>

In [ ]:
car = ["BMW","Toyota","Mahindra","Porsche"]
color = ["red","black"]
combination = [(c,o)for c in car for o in color]
print(combination)

[('BMW', 'red'), ('BMW', 'blue'), ('Toyota', 'red'), ('Toyota', 'blue'), ('Mahindra', 'red'), ('Mahindra', 'blue'), ('Porsche', 'red'), ('Porsche', 'blue')]

In [ ]:
lstt_1 = [1,2,3,4,5]
lstt_1[2:] = [10]
print(lstt_1)

[1, 2, 10]

**Functions**

In [1]:
def add_num(a,b):
  return a+b

print(add_num(4,3))

7

In [15]:
def is_prime(num):
  if num <= 1:
    return False
  for i in range (2, num):
    if num % i == 0:
      return False
  return True

num1_str = input("Enter the number : ")
try:
  num1_int = int(num1_str)
  if is_prime(num1_int) :
    print(f"{num1_str} is a prime number")
  else:
    print(f"{num1_str} is not a prime number")
except ValueError:
  print(f"Invalid input: '{num1_str}' is not a valid integer. Please enter a whole number.")

Enter the number : 2
2 is a prime number

Armstrong Number - Sum of the numbers raised to power of its length

In [21]:
def is_armstrong_num(n_str):
  num_int = int(n_str)
  length = len(n_str)
  sum_of_powers = 0
  temp_num = num_int

  while temp_num > 0:
    digit = temp_num % 10
    sum_of_powers += digit ** length
    temp_num //= 10
  return sum_of_powers == num_int

a = input("Enter the number : ")
try:
  if is_armstrong_num(a):
    print(f"{a} is an Armstrong number")
  else:
    print(f"{a} is not an Armstrong number")
except ValueError:
  print(f"Invalid input: '{a}' is not a valid integer. Please enter a valid number.")

Enter the number : 9474
9474 is an Armstrong number

Calculator

In [25]:
def calculator(a,b):
  sum = a+b
  differnce = a-b
  product = a*b
  quotient = a//b
  return sum,differnce,product,quotient

n1 = int(input("Number 1 : "))
n2=int(input("Number 2 : "))
try:
  if calculator(n1,n2):
    print(f"The sum , differnce , product , quotient of the numbers are : {calculator(n1,n2)}")
except ValueError :
  print(f"The entered numbers are invalid . Please enter only integers")

8
4
The sum , differnce , product , qoutient of the numbers are : (12, 4, 32, 2)

Reverse the number

In [27]:
def reverse_num(n_str):
  num_int = int(n_str)
  reversed_number = 0
  temp = num_int

  while temp > 0:
    digit = temp % 10
    reversed_number = reversed_number * 10 + digit
    temp //= 10
  return reversed_number

s_str = input("Enter the number : ")
try:
  reversed_result = reverse_num(s_str)
  print(f"The reversed number is: {reversed_result}")
except ValueError:
  print(f"Invalid input: '{s_str}' is not a valid integer. Please enter a whole number.")

Enter the number : 1234
None

FActorial

In [31]:
def factorial(n):
  fact = 1
  for i in range(1,n+1):
    fact*=i
  return fact

print(factorial(5))

120

In [33]:
def fact(n):
  if n == 0 or n == 1:
    return 1
  return n * fact(n-1)
print(fact(6))

720

Areas of circle and square using local and global scope

In [37]:
pi = 3.14159
def area_of_circle(r):
  return pi * (r**2)

def area_of_square(s):
  return s**2

rad = int(input("Enter the radius of a circle : "))
print(area_of_circle(rad))
side = int(input("Enter the side of a square : "))
print(area_of_square(side))

Enter the radius of a circle : 7
153.93791
Enter the side of a square : 8
64

In [42]:
def characters(*person):
  print(person)
  print(type(person))

characters("Max" ,"V", "A" , "B" , "C" ," D" , "e")

('Max', 'V', 'A', 'B', 'C', ' D', 'e')
<class 'tuple'>

In [48]:
def characters(**kwargs):
  for k,v in kwargs.items():
    print(k,v)


characters( name =  "a"
            ,contact = 917854653454345
            ,age = 25
            ,city = "x")

name a
contact 917854653454345
age 25
city x

In [52]:
def registered_users(**kwargs):
  for k,v in kwargs.items():
    print(k,v)

registered_users(Role = "AI Engineer"
      ,Skills = "Python , Numpy , Pandas"
      ,Details = { "name" : "t"
               ,"ins" : "IITR"
               ,"loc" : "Hyd"})

Role AI Engineer
Skills Python , Numpy , Pandas
Details {'name': 't', 'ins': 'IITR', 'loc': 'Hyd'}

In [54]:
def reg_users(role,*skills,**details):
  print(f"Role : {role}")
  print(f"Skills : {skills}")
  print("Details : ")
  for k,v in details.items():
    print(k+" : "+v)

reg_users("AI Engineer","Python","Numpy","Pandas", name = "t", ins = "IITR", loc = "Hyd")

Role : AI Engineer
Skills : ('Python', 'Numpy', 'Pandas')
Details :
name : t
ins : IITR
loc : Hyd

* Create a function named as product details which contain 2 parameters
 * Features
 * Product pricing
* Display it

* Create a log function that contain the event , messages  and meta data
* Display the log function