<a href="https://colab.research.google.com/github/Medhanshug99/Python-Lab-s3/blob/main/Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Declaration of variable

In [ ]:
a = 10
print("The value of a is",a)
print(f"The value of a is {a}")

The value of a is 10
The value of a is 10

1 Multiple assignment in a variable

In [ ]:
a,b = 10,20
print(a,b)

10 20

2 Multiple assignment with same value

In [ ]:
a = b = c = 100
print(a,b,c)

100 100 100

3 Rules for naming variables
 1. Variable names can only contain letters,digit and underscore
 2. A variable name cannot start with a digit
 3. Varaible names are case sensitive(Ex : myVar and myvar are different)
 4. avoid using python keywords such as if ,else ,for , class
 5.

In [ ]:
a = 10
class_io = 10
user_name="medhansh"
_name="Error"
print(a,user_name,_name,class_io)

10 medhansh Error 10

Typecasting of variables

1. Hulk strength level is recorded as a string output 1000 . convert it into an integer and increase it by 200

In [ ]:
hulk_score ="1000"
hulk_ScoreNew = int(hulk_score)+200
print(hulk_ScoreNew)

1200

2. Thor's hammer mass is 5000(int) , but you need to calculate the gravitational force , which requires it as a float

In [ ]:
thor_hammer = 5000
g = 9.8
thor_force = float(thor_hammer*g)
print(thor_force)

49000.0

3. Loki gets input in seconds (as string ):"3600". convert it into an integer and then to hours. Show the final result as float

In [ ]:
t="3600"
t_int=int(t)
t_hours=float(t_int/3600)
print(t_hours)

1.0

4. Ironman recorded 7 hits out of 10 shots(both integers). Convert them into float and calculate the accuracy percentage

In [ ]:
h=7
s=10
h_f=float(h)
s_f=float(s)
accuracy_=(h_f/s_f)*100
print(accuracy_)

70.0