<a href="https://colab.research.google.com/github/Medhanshug99/Python-Lab-s3/blob/main/Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Declaration of variable

In [ ]:
a = 10
print("The value of a is",a)
print(f"The value of a is {a}")

The value of a is 10
The value of a is 10

1 Multiple assignment in a variable

In [ ]:
a,b = 10,20
print(a,b)

10 20

2 Multiple assignment with same value

In [ ]:
a = b = c = 100
print(a,b,c)

100 100 100

3 Rules for naming variables
 1. Variable names can only contain letters,digit and underscore
 2. A variable name cannot start with a digit
 3. Varaible names are case sensitive(Ex : myVar and myvar are different)
 4. avoid using python keywords such as if ,else ,for , class
 5.

In [ ]:
a = 10
class_io = 10
user_name="medhansh"
_name="Error"
print(a,user_name,_name,class_io)

10 medhansh Error 10

Typecasting of variables

1. Hulk strength level is recorded as a string output 1000 . convert it into an integer and increase it by 200

In [ ]:
hulk_score ="1000"
hulk_ScoreNew = int(hulk_score)+200
print(hulk_ScoreNew)

1200

2. Thor's hammer mass is 5000(int) , but you need to calculate the gravitational force , which requires it as a float

In [ ]:
thor_hammer = 5000
g = 9.8
thor_force = float(thor_hammer*g)
print(thor_force)

49000.0

3. Loki gets input in seconds (as string ):"3600". convert it into an integer and then to hours. Show the final result as float

In [ ]:
t="3600"
t_int=int(t)
t_hours=float(t_int/3600)
print(t_hours)

1.0

4. Ironman recorded 7 hits out of 10 shots(both integers). Convert them into float and calculate the accuracy percentage

In [ ]:
h=7
s=10
h_f=float(h)
s_f=float(s)
accuracy_=(h_f/s_f)*100
print(accuracy_)

70.0

String Datatype

1. Array of bytes representing unicode characters
2. No seperate character data type ; a character is a string of length one
3. String can be created using ' '," ", or "" ""
4. Acces individual character using indexing , starting at 0
5. Strings are immutable
6. str ( )

In [9]:
s1 = "This is a string"
print(s1)
s2 = "This " + "is " + "also " +"a " + "string"
print(s2)
print(len(s1))
print(len(s2))

This is a string
This is also a string
16
21

In [14]:
s3 = "This is a string \
written along multiple lines"
print(s3)

This is a string written along multiple lines

In [16]:
#multiply string with an integer to get multiple lines
Iron_man = "SMASH IT!\n"
print(Iron_man*5)

SMASH IT!
SMASH IT!
SMASH IT!
SMASH IT!
SMASH IT!

In [17]:
Iron_man_2 = "Hello world # This is not a comment"
Iron_man_2

'Hello world # This is not a comment'

In [2]:
Avenger = "IRONMAN"
length_=len(Avenger)
#length_
first_ch=Avenger[0] # both are same -->first_ch=Avenger[-0]
print(f"The first character is :{first_ch} ")

The first character is :I

In [23]:
# negative indexing
last_ch=Avenger[-1]
print(last_ch)

N

In [3]:
# Slicing
slicing = Avenger[1:5]
slicing_1 = Avenger[:6]
print(slicing)
print(slicing_1)

RONM
IRONMA

In [4]:
slicing_2 = Avenger[1:]
slicing_3 = Avenger[1:4:2]
print(slicing_2)
print(slicing_3)

RONMAN
RN

In [16]:
#IRONMAN
slicing_4 = Avenger[::]
print(slicing_4)

RONMAN

In [17]:
Avenger[0]="B"
print(Avenger)
# Because Strings are immutable

TypeError: 'str' object does not support item assignment

In [27]:
for i in range(len(Avenger)) :
  print(i, Avenger[i])

0 I
1 R
2 O
3 N
4 M
5 A
6 N

In [32]:
n = len(Avenger)
for i in range(n):
  print((n-1)-i,Avenger[(n-1)-i])

6 N
5 A
4 M
3 N
2 O
1 R
0 I

Q1. Palindrome or not

In [37]:
#RACECAR
name = input()
n=len(name)
if name==name[::-1]:
    print(f"{name} is a palindrome ")
else :
    print(f"{name} is not a palindrome")

racecar
racecar is a palindrome